body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
a {
    color: #ff0066;
    text-decoration: none;
    &:hover {
    color: #e82d2d;
    text-decoration: none;
    }
}
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}