.clients {
  background: #ff0066;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  img {
    width: 50%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    &:hover {
      filter: none;
      transform: scale(1.2);
    }
  }
}
@media (max-width: 768px) {
    .clients img {
      width: 40%;
    }
}