.why-us {
  padding-top: 10px;

  .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;

    span {
      display: block;
      font-size: 28px;
      font-weight: 700;
      color: #191919;
    }

    h4 {
      font-size: 24px;
      font-weight: 600;
      padding: 0;
      margin: 20px 0;
      color: #ff0066;
    }

    p {
      color: #aaaaaa;
      font-size: 15px;
      margin: 0;
      padding: 0;
    }

    &:hover {
      background: #ff0066;
      padding: 30px 30px 70px 30px;
      box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
    }
  }
}

.why-us .box:hover span,
.why-us .box:hover h4,
.why-us .box:hover p {
  color: #fff;
}